# 185. Department Top Three Salaries

In [6]:
import pandas as pd

def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    return 0

# Testing

In [7]:
employee = pd.DataFrame({'id': [1,2,3,4,5], 'name': ['Kamil', 'Aleksa', 'Jan Jakob', 'Michalina', 'Paula'], 'salary': [12000, 6500,15000,2000,1456], 'departmentId': [11,11,33,44,33]})
department = pd.DataFrame({'id': [11,33,44], 'name': ['Data Analytics', 'Modelling', 'Accounting']})